mat-sidenav-container {
  mat-sidenav-content {
    padding: 0.5rem;
    background-color: #ffffff;

    .action-column {
      margin-top: 3.5rem;
      margin-right: 1rem;
    }

    .table-column {
      margin-top: 0.5rem;
    }
  }

  mat-sidenav.mat-drawer-opened,
  mat-sidenav.mat-drawer-opening {
    box-shadow: 0 0 0 0 !important;
  }
}
